.gdTitre{
  text-align: center;
  height: 20vh; 
  padding-top: 6vh;  
}
h1{
  font-family: 'Parisienne', cursive;
  font-size: 5vw;
}

/* #lire{
  border-radius:12px 0 12px 0;
} */

.rouge {
height: vh;
}
.leg{
  margin-top: 6vh;
  text-align: center;
  font-size: 3vh;
  min-height: 45vh;
}
.gris {
height: vh;
}


.img{
  border: double;
}

.pic {
  height: 300px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}

.cent{
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
  margin-bottom: 5vh;
  margin-top: 3vh;
}
.just{
  text-indent: 3%;
  text-align: justify;
}
.sign{
  margin-top: 2vh;
  text-align: right;
  font-weight: bold;
}
.titre {
  text-align: center;
  font-weight: bold;
  padding-bottom: 3vh;
}
.center{
  text-align: center;
}

.author{
  text-align: center;
  text-decoration: underline;
}

.use {
  margin-top: 1vh;
  font-size: 4vh;
}

.bar{
  list-style: none;
  height: 5vh;
  text-align: center;
}



hr{
  width: 85%;
  height: 2px;
  background-color: black;
  border: none; 
}

li {
  text-align: center;
}

a {
	text-decoration: none;
	color:black;
}

a:hover {
	text-decoration: none;
  /* color:rgb(109, 106, 109); */
  color: rgb(247, 175, 205);
}

