<footer >
  

    <div class="row bottom">
      <hr>
        <nav class="col-md-9">
              <ul class="bar row ">
                <li class="col-md-4">
                  <a href="{{path('apropos')}}">A propos</a>
                </li>
                <li class="col-md-4">
                  <a href="{{path('legal')}}">Mentions légales</a>
                </li>
                <li class="col-md-4">
                  <a href="{{path('contact')}}">Contact</a>
                </li>
              </ul>
        </nav>

        <div class="col-md-2">
            <ul class="bar row">
                <li class="col-4"><a href="https://fr-fr.facebook.com/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
                <li class="col-4"><a href="https://gitlab.com/bertaMunoz"target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li> 
                <li class="col-4"><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        </div>

</footer>