<header>

    <div class="row">

        <div class="col-12  gdTitre">
          <h1> <a href="{{path('accueil')}}">Blablabla</a></h1>

        </div>
        
      </div>
      <hr>
      
      <ul class="row bar">
        <li class="col-2 offset-1">
          <a href="{{path('cat',{'category':1})}}">Voyages</a>
        </li>
        <li class="col-2">
          <a href="{{path('cat',{'category':2})}}">Villes</a>
        </li>
        <li class="col-2">
          <a href="{{path('cat',{'category':3})}}">Asphalte</a>
        </li>
        <li class="col-2">
          <a href="{{path('cat',{'category':4})}}">Insolite</a>
        </li>
        <li class="col-2">
          <a href="{{path('cat',{'category':5})}}">Projets</a>
        </li>
      </ul> 
      
      <hr>
    
</header>


