{% extends "skeleton.html.twig" %}


{% block content %}

  <div class="row d-flex justify-content-center">
    
    <div class = "col-md-3 d-flex justify-content-center"><a href="{{path('cat',{'category':1})}}"><img class = "pic" src="{{asset('image/fourviere.jpg')}}" alt=""></a></div>
    <div class="col-md-3 d-flex justify-content-center"><a href="{{path('apropos')}}"><img class = "pic" src="{{asset('image/ventsvius.jpg')}}" alt=""></a></div>
    <div class="col-md-3 d-flex justify-content-center"><a href="{{path('cat',{'category':2})}}"><img class = "pic" src="{{asset('image/glycine.jpg')}}" alt=""></a></div>
    
  </div>
  <div class="row d-flex justify-content-center">

      <div class = "col-md-3 d-flex justify-content-center"><a href="{{path('cat',{'category':3})}}"><img class = "pic" src="{{asset('image/portes.jpg')}}" alt=""></a></div>
      <div class="col-md-3 d-flex justify-content-center"><a href="{{path('cat',{'category':4})}}"><img class = "pic" src="{{asset('image/mica.jpg')}}" alt=""></a></div>
      <div class=" col-md-3 d-flex justify-content-center"><a href="{{path('cat',{'category':5})}}"><img class = "pic" src="{{asset('image/niddepoule.jpg')}}" alt=""></a></div>
   
  </div>
    

{% endblock content %}
{# ////////////////////////////////////////////////////////////////////////

<div class="row d-flex p-2" style= "margin-left: 90px ; margin-top:30px">
    
    <div class = "offset-1 col-md-3" style= "background-image: url('../image/fourviere.jpg'); background-size : contain; background-repeat:no-repeat; height: 300px"></div>
    <div class = "col-md-3" style= "background-image: url('../image/ventsvius.jpg'); background-size : contain; background-repeat:no-repeat; margin-top:30px"></div>
    <div class = "offset-1 col-md-3" style= "background-image: url('../image/glycine.jpg'); background-size : contain; background-repeat:no-repeat"></div>
  </div>
  <div class="row d-flex p-2" style= "margin-top: 30px">
    <div class = "offset-1 col-md-3" style= "background-image: url('../image/niddepoule.jpg'); background-size : contain; background-repeat:no-repeat; height: 300px; margin-top:30px"></div>
    <div class = "offset-1 col-md-3" style= "background-image: url('../image/mica.jpg'); background-size : contain; background-repeat:no-repeat"></div>
    <div class = "col-md-3" style= "background-image: url('../image/portes.jpg'); background-size : contain; background-repeat:no-repeat; margin-top:30px"></div>
  </div> #}

{# //////////////////////////////////////////////////////////////////////////////////
{% block content %}
        <p>accueil.html.twig  </p>

  <div class="row">


    {% for row in result %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body ">
          <h5 class="card-title">{{row.title}}</h5>
          <p class="card-text">{{row.author}}</p>
        
          <p class="card-text">{{row.content [:100]}}</p>
          <button><a href="{{path('articleOne', {'id':row.id})}}">Lire l'article</a></button>
          
        </div>
     </div>
    </div> 

    {% endfor %}
</div>
{% endblock content %} #}