{% extends 'skeleton.html.twig' %}

{% block title %} {% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class ="btn btn-secondery">Ajoute/Modifie un Article</button>

{{ form_end(form) }}

{% endblock content %}

