{% extends 'skeleton.html.twig' %} {% block content %} 

<div class="container-fluid">
<div class="row ">
<div class="col-md-2 rouge">
{#<button type="button" class="btn btn-secondary" id = "lire" style= "background-color:rgb(213, 218, 218)">#}<a href="{{path('article')}}">Créer un nouvel article</a>{#</button>#}

</div>
<div class="col-md-8 gris">
<div class="row">
  {% for row in result %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-body ">
        <h5 class="titre card-title">{{row.title}}</h5>
        <p class="author card-text">{{row.author}}</p>
        <p class="card-text">{{row.date.format("d/m/y")}}</p>
        {# <p class="card-text">{{row.category}}</p> #}
        {# <p class="card-text">{{row.content|raw [:40]}}</p> #}
      </div>
      <div class="row">
<div class="col-md-6">
  <a class="offset-md-5 col-md-2 btn btn-secondery" href="{{path('upd', {'id':row.id})}}">Modifier</a></div>
  <div class="col-md-6">

  <a class="offset-md-5 col-md-2 btn btn-secondery" href="{{path('del', {'id':row.id})}}">Supprimer</a></div>
       
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
</div>
</div>
  {% endblock content %} {# 4. Côté template, faire une boucle for each sur la variable que vous venez d'exposer
pour parcourir le tableau de chien, et faire en sorte d'afficher le name de chacun des chien, dans un paragrahpe #}

{#
#}


