{% extends 'skeleton.html.twig' %} {% block content %}

<div class="row">
  <div class="col-md-12 cent">
    A propos.
  </div>
  <div class="offset-2 col-md-8 just">
    <p>
    Hacque adfabilitate confisus cum eadem postridie feceris, ut incognitus haerebis et repentinus, hortatore illo hesterno clientes
    numerando, qui sis vel unde venias diutius ambigente agnitus vero tandem et adscitus in amicitiam si te salutandi adsiduitati
    dederis triennio indiscretus et per tot dierum defueris tempus, reverteris ad paria perferenda, nec ubi esses interrogatus
    et quo tandem miser discesseris, aetatem omnem frustra in stipite conteres summittendo.
    <br> Quae dum ita struuntur, indicatum est apud Tyrum indumentum regale textum occulte, incertum quo locante vel cuius usibus
    apparatum. ideoque rector provinciae tunc pater Apollinaris eiusdem nominis ut conscius ductus est aliique congregati
    sunt ex diversis civitatibus multi, qui atrocium criminum ponderibus urgebantur.
    <br></p>
    <p> Pandente itaque viam fatorum sorte tristissima, qua praestitutum erat eum vita et imperio spoliari, itineribus interiectis
    permutatione iumentorum emensis venit Petobionem oppidum Noricorum, ubi reseratae sunt insidiarum latebrae omnes, et
    Barbatio repente apparuit comes, qui sub eo domesticis praefuit, cum Apodemio agente in rebus milites ducens, quos beneficiis
    suis oppigneratos elegerat imperator certus nec praemiis nec miseratione ulla posse deflecti.
    <br> </p>
    <p>
    Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi
    non persequantur argutiis): partim fugiendas esse nimias amicitias, ne necesse sit unum sollicitum esse pro pluribus;
    satis superque esse sibi suarum cuique rerum, alienis nimis implicari molestum esse; commodissimum esse quam laxissimas
    habenas habere amicitiae, quas vel adducas, cum velis, vel remittas; caput enim esse ad beate vivendum securitatem, qua
    frui non possit animus, si tamquam parturiat unus pro pluribus.
    <br> </p>
    <p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui
    reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae
    tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit,
    cum summo consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo profecto intellegis quanta in dato beneficio
    sit laus, cum in accepto sit tanta gloria. </p>
  </div>
  <div class="offset-2 col-md-7 sign"> Bla bla bla...</div>
</div>

{% endblock content %}