{% extends "skeleton.html.twig" %}


{% block content %}


<div class="d-flex justify-content-center">

    <div class="col-md-6">
      
          <h4 class= "titre">{{result.title}}</h4>
          
          <p class="author">{{result.author}}</p>


          <div class= "col-md-12 center">{{result.content|raw}}</div>

  </div>

              <div class="d-flex align-items-center">
           <div class= "col-md-6"><img src="{{asset(result.url)}}"  class= "img" alt="petites portes" style = "width: 500px" "height:250px">
         
        </div>
</div></div>
   
{% endblock content %}

