{% extends "skeleton.html.twig" %}

{% block content %}
{# <main class="container-fluid"> #}
  <div class="row">


    {% for row in result %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body ">
          <h5 class="card-title">{{row.title}}</h5>
          <p class="card-text">{{row.author}}</p>
          <p class="card-text">{{row.date.format("d/m/y")}}</p>
          {# <p class="card-text">{{row.published}}</p> #}
          {# <p class="card-text">{{row.category}}</p> #}
          <p class="card-text">{{row.content[:400]|raw}}</p>
          <p class="card-text"><img src="{{asset(row.url)}}" class="img" style="height:100px" </p> 
        <div class="offset-5">
            <a href="{{path('articleOne', {'id':row.id})}}">Lire l'article</a>
        </div>
        {# <a href="{{path('cat', {'category':row.category})}}"></a> #}
      </div>
    </div>
  </div>



  {% endfor %}
  </div>
  {# </main> #}
{% endblock content %}