{% extends "skeleton.html.twig" %}

{% block content %}

{# <main class="container-fluid"> #}


    {% for row in result %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body ">
          <h5 class="card-title">{{row.title}}</h5>
          <p class="card-text">{{row.author}}</p>
          <p class="card-text">{{row.date}}</p>
          {# <p class="card-text">{{row.published}}</p> #}
          {# <p class="card-text">{{row.category}}</p> #}
          <p class="card-text">{{row.content}}</p>
        </div>
     
    {% endfor %}
  </div> 
{# </main>  #}
{% endblock content %}