{% extends "skeleton.html.twig" %} {% block content %}
<div class="offset-2 col-md-8 leg">
  <p>
    Toutes les photos présentes sur le site sont la propriété de Berta Munoz.

  </p>
</div>
{% endblock content %}