<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/a9536c0a40.css" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Milonga|Parisienne" rel="stylesheet">
    <link rel="stylesheet" href=" {{asset("./css/style.css")}}">
    
 
  
  <title>Blog {% block title %} {% endblock title %}</title>
</head>


<body>
<div class="container-fluid">

  <div class="row">
    <div class="offset-10 col-md-2"><a href="{{path('admin')}}"><i class="use far fa-user-circle"></i></a></div>
  </div>
  {% block header %} {% include "_header.html.twig" %} {% endblock header %}

  {% block other %}
     
  {% endblock other %}

  {% block content %}
  {% endblock content %}


 



  {% block footer %} {% include "_footer.html.twig" %} {% endblock footer %}


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </body>
</html>

</body>

</html>